*{
    margin:0;
}
 body {
   background-color: lightskyblue;
   color: black;

 }
header {
     display: flex;
     justify-content: space-between;
     background-color: lightskyblue;
     color: lightblue;
     height: 50px;
     align-items: center;
     position: fixed;
     width: 100%;
    

}

.sobre {
    display: flex;
    justify-content:space-between ;
    background-color: darkturquoise;
    color: black;
}

.sobremim{
    display: flex;
    align-items: center;
    margin-left: 200px;
}

h1 {
    text-align: center;
}
  
.imagemFOTO{
    height: 300px;
    width: 300px;
    margin-top: 200px;
    margin-right: 300px; ;
    margin-bottom: 200px;
    border-radius: 50%;
}


.projetos{
    display: flex;
    justify-content: space-between;
    background-color: darkturquoise;
    color: aqua;

}

.imagemPROJETOS {
       height: 300px;
       width: 300px;
       margin-bottom: 200px;
       margin-top: 200px;

}

.contatos {
     display:flex ;
     justify-content: center;
     margin-top: 500px;
     margin-bottom: 700px;
     background-color: lightskyblue;
     color: cyan;
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 200px;
    align-items: center;
    color: greenyellow;
    
}

html {
    scroll-behavior: smooth;
}